* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
}

.score-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
    line-height: 2rem;
    font-size: 2rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 6rem;
    margin: 0 auto;
}